.account_container {
  width: 100%;
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%);
  height: 100%;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5em 1em; }
  .account_container .account_left {
    max-width: 450px;
    width: 100%;
    padding: 20px 0;
    border-right: 1px solid rgba(34, 255, 255, 0.15); }
    .account_container .account_left .account_item {
      margin: 5px 0;
      padding: 15px 0; }
      .account_container .account_left .account_item .icon_box {
        background-color: #292A40;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        justify-content: center; }
      .account_container .account_left .account_item .nav_text {
        margin-left: 20px;
        flex-direction: column !important;
        align-items: flex-start; }
        .account_container .account_left .account_item .nav_text h4 {
          font-size: 19px;
          margin-bottom: 2px; }
        .account_container .account_left .account_item .nav_text span {
          font-size: 13px; }
    .account_container .account_left .items_container {
      justify-content: space-between; }
      .account_container .account_left .items_container .square_container {
        flex-direction: column; }
        .account_container .account_left .items_container .square_container .square {
          content: "";
          border-radius: 3px;
          border: 1px solid rgba(34, 255, 255, 0.15);
          position: relative;
          background-color: #080723;
          width: 20px;
          height: 20px;
          left: 11px;
          margin: 20px auto;
          transform: rotate(138deg); }
  .account_container .account_right {
    width: 100%;
    margin-left: 5em;
    max-width: 1000px; }
  .account_container .brown-color {
    border: none !important;
    background-color: #8F4114 !important; }
  .account_container .meadow-color {
    border: none !important;
    background-color: #0FBA87 !important; }

/*=======================================================
                 Transaction
=========================================================*/
.transaction_result {
  text-align: center;
  padding: 10px 5px;
  min-height: 200px; }

.transaction .fullWidth {
  margin: 10px 0;
  padding: 0; }
.transaction .MuiTableCell-head {
  font-weight: bold; }
.transaction .spinner2 {
  margin: 0 auto; }

/*=======================================================
                 Deposite
=========================================================*/
.deposite {
  padding-bottom: 20px; }
  .deposite .flex {
    margin-top: 20px;
    justify-content: space-between; }
    .deposite .flex button {
      background: none;
      border: none;
      color: #04031c !important;
      cursor: pointer; }
    .deposite .flex button:focus {
      outline: none; }
  .deposite p {
    width: auto;
    margin-bottom: 0; }

.QR {
  flex-direction: column; }
  .QR p {
    margin: 10px;
    color: #121212;
    font-size: 14px; }

/*=======================================================
                 Withdraw
=========================================================*/
.withdraw {
  padding-top: 20px; }

/*=======================================================
                 FA
=========================================================*/
.fa_container {
  padding: 10px 40px !important; }
  .fa_container .input, .fa_container label {
    max-width: 300px !important; }
  .fa_container label {
    text-align: left;
    margin: 0 auto !important; }
  .fa_container button {
    font-size: 16px !important;
    padding: 0 30px !important; }

/*# sourceMappingURL=account_layout.css.map */
