@import "colors";

.account_welcome{
  span{
    @include default-link();
  }
}

.account_tab{
  margin: 20px 0;
  .ui.menu .active.item {
    .MuiListItem-gutters {
      //background: #1A97FF !important;
      .icon_box {
        background: #1A97FF !important;
        color: $paper-color;
        border: none !important;
      }
      h4,span{
        color: #1A97FF;
      }
    }
  }
  .ui.pointing.menu .active.item:after{
    font-size: 25px;
    border-top: 2px solid #F50057;
    border-right: 2px solid #F50057;
  }
  .ui.vertical.tabular.menu{
    border-top: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
    border-left: 1px solid #d4d4d5;
    border-radius: 5px;
  }
  .ui.grid>[class*="four wide"].column{
    width: 32%!important;
  }
  .ui.grid>[class*="twelve wide"].column{
    width: 68%!important;
    height: 300px!important;
    h2{
      text-align: left;
    }
  }
}
.icon_box{
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: $background-color;
  justify-content: center;
  border: 1px solid $background-dark;
}
.nav_text{
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.nav_text,.icon_box{
  color: $background-dark;
}
.nav_text span{
  font-size: 12px;
}
/*=======================================================
                 Transaction
=========================================================*/
.transaction_result{
  text-align: center;
  padding: 10px 5px;
  min-height: 200px;
}
.transaction {
  .fullWidth {
    margin: 10px 0;
    padding: 0;
  }
  .MuiTableCell-head{
    font-weight: bold;
  }
  .spinner2{
    margin: 0 auto;
  }
}
/*=======================================================
                 Deposite
=========================================================*/
.deposite{
  padding-bottom: 20px;
  .flex{
    margin-top: 20px;
    justify-content: space-between;

  }
  p{
    width: auto;
    margin-bottom: 0;
  }
}
.QR {
  flex-direction: column;
  p{
    margin: 10px;
    color: $background-dark;
    font-size: 14px;
  }
}
/*=======================================================
                 Withdraw
=========================================================*/
.withdraw{
  padding-top: 20px;
}
/*=======================================================
                 FA
=========================================================*/
.fa_container{
  padding: 10px 40px !important;
  .input,label{
    max-width: 300px !important;
  }
  label{
    text-align: left;
    margin: 0 auto!important;
  }
  button{
    font-size: 16px!important;
    padding: 0 30px!important;
  }
}