.account_container {
  width: 100%;
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%);
  height: 100%;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5em 1em; }
  .account_container .account_left {
    max-width: 450px;
    width: 100%;
    padding: 20px 0;
    border-right: 1px solid rgba(34, 255, 255, 0.15); }
    .account_container .account_left .account_item {
      width: 100%;
      margin: 5px 0;
      padding: 15px 0; }
      .account_container .account_left .account_item .icon_box {
        background-color: #292A40;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        justify-content: center; }
      .account_container .account_left .account_item .nav_text {
        margin-left: 20px;
        flex-direction: column !important;
        align-items: flex-start; }
        .account_container .account_left .account_item .nav_text h4 {
          font-size: 19px;
          margin-bottom: 2px; }
        .account_container .account_left .account_item .nav_text span {
          font-size: 13px; }
    .account_container .account_left .items_container {
      justify-content: space-between; }
      .account_container .account_left .items_container .square_container {
        flex-direction: column; }
        .account_container .account_left .items_container .square_container .square {
          content: "";
          border-radius: 3px;
          border: 1px solid rgba(34, 255, 255, 0.15);
          position: relative;
          background-color: #080723;
          width: 20px;
          height: 20px;
          left: 11px;
          margin: 20px auto;
          transform: rotate(138deg); }
  .account_container .account_right {
    width: 100%;
    margin-left: 5em;
    max-width: 1000px; }
  .account_container .brown-color {
    border: none !important;
    background-color: #8F4114 !important; }
  .account_container .meadow-color {
    border: none !important;
    background-color: #0FBA87 !important; }

/*=======================================================
                 Transaction
=========================================================*/
.transaction .MuiPaper-root {
  background-color: #0F0E2e;
  color: #fff; }
.transaction .fullWidth {
  margin: 10px 0;
  padding: 0; }
.transaction .MuiTableCell-root {
  border: none;
  color: #fff !important; }
.transaction .MuiTableCell-head {
  color: #fff;
  font-weight: bold; }
.transaction .spinner2 {
  margin: 0 auto; }

/*=======================================================
                 Deposite
=========================================================*/
.deposite {
  display: flex;
  justify-content: space-between; }
  .deposite .deposite-right {
    width: 50%; }
    .deposite .deposite-right .address {
      display: flex; }
      .deposite .deposite-right .address input[type=text] {
        border-radius: 10px !important;
        background-color: #0A0927 !important;
        border: 2px solid rgba(255, 255, 255, 0.29) !important;
        color: #fff; }
      .deposite .deposite-right .address .field > label {
        font-size: 16px !important;
        color: #fff !important;
        opacity: unset !important; }
      .deposite .deposite-right .address .disabled.field {
        opacity: unset !important; }
      .deposite .deposite-right .address .disabled {
        width: 100%;
        margin: 0; }
      .deposite .deposite-right .address .copied {
        color: #fff !important;
        position: relative;
        top: 24px;
        left: -20px;
        background: #5754AB;
        border-radius: 10px;
        height: 38px;
        padding: 9px 20px;
        cursor: pointer;
        margin: 0; }
  .deposite .QR {
    text-align: center;
    width: 40%; }
    .deposite .QR div {
      width: 70%;
      padding: 30px 0;
      margin: 0 auto;
      border-radius: 20px;
      color: #000;
      background-color: #fff; }
      .deposite .QR div h3 {
        font-size: 30px;
        margin-bottom: 30px; }
    .deposite .QR p {
      padding: 1em 4em 0 4em; }
  .deposite h2 {
    margin-bottom: 1em;
    font-size: 40px; }

/*=======================================================
                 Withdraw
=========================================================*/
.withdraw {
  padding-top: 40px; }
  .withdraw .balance {
    width: 200px;
    background-color: #1D1B46;
    border-radius: 10px;
    padding: 20px 10px;
    color: #fff; }
    .withdraw .balance h3 {
      margin-bottom: 0; }
  .withdraw .withdrawbtn {
    padding: 15px 5em;
    border-radius: 30px;
    color: #fff;
    border: 2px solid #8F4114;
    background-color: #8F4114;
    cursor: pointer;
    margin: 3em 0; }
    .withdraw .withdrawbtn:hover {
      color: #ffffff !important;
      background: #0B0A27 !important; }

/*=======================================================
                 FA
=========================================================*/
.fa_container {
  padding: 10px 40px !important; }
  .fa_container .input, .fa_container label {
    max-width: 300px !important; }
  .fa_container label {
    text-align: left;
    margin: 0 auto !important; }
  .fa_container button {
    font-size: 16px !important;
    padding: 0 30px !important; }

.two-fa h1 {
  font-size: 40px; }
.two-fa label {
  font-size: 20px;
  margin-right: 20px; }
.two-fa .MuiSwitch-thumb {
  color: #0FBA87; }
.two-fa .MuiSwitch-track {
  background: #fff; }
.two-fa .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background: #8F4114; }
.two-fa .QR {
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background: #fff;
  width: 250px; }
  .two-fa .QR h3 {
    color: #000;
    font-size: 30px; }
  .two-fa .QR p {
    font-size: 12px;
    color: #000; }

/*# sourceMappingURL=account_layout.css.map */
