@import "colors";


.account_container{
  width: 100%;

  @include default-color();
  height: 100%;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5em 1em;
  .account_left{
    max-width: 450px;
    width: 100%;
    padding: 20px 0;
    //margin: 0 20px;
    border-right: 1px solid rgba(34,255,255,.15);
      .account_item {
        width: 100%;
        margin: 5px 0;
        padding: 15px 0;
        .icon_box {
          background-color: #292A40;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          justify-content: center;
        }
        .nav_text {
          margin-left: 20px;
          flex-direction: column !important;
          align-items: flex-start;
          h4 {
            font-size: 19px;
            margin-bottom: 2px;
          }
          span{
            font-size: 13px;
          }
        }
      }
    .items_container {
      justify-content: space-between;
      .square_container {
        flex-direction: column;
        .square {
          content: "";
          border-radius: 3px;
          border: 1px solid rgba(34,255,255,.15);
          position: relative;
          background-color: #080723;
          width: 20px;
          height: 20px;
          left: 11px;
          margin: 20px auto;
          transform: rotate(138deg)
        }
      }
    }
  }
  .account_right{
    width: 100%;
    margin-left: 5em;
    max-width: 1000px;
  }
  .brown-color{
    border:none!important;
    background-color: #8F4114!important;
  }
  .meadow-color{
    border:none!important;
    background-color: $meadow-color!important;
  }
}
/*=======================================================
                 Transaction
=========================================================*/
.transaction {
  .MuiPaper-root{
    background-color: #0F0E2e;
    color: #fff;
  }
  .fullWidth {
    margin: 10px 0;
    padding: 0;
  }
  .MuiTableCell-root{
    border: none;
    color: #fff!important;
  }
  .MuiTableCell-head{
    color: #fff;
    font-weight: bold;
  }
  .spinner2{
    margin: 0 auto;
  }
}
/*=======================================================
                 Deposite
=========================================================*/
.deposite {
  display: flex;
  justify-content: space-between;
  .deposite-right {
    width: 50%;
    .address {
      display: flex;
       input[type=text]{
         border-radius: 10px!important;
         background-color: #0A0927!important;
         border: 2px solid rgba(255,255,255,.29)!important;
         color: #fff;
       }
      .field>label{
        font-size: 16px!important;
        color: #fff!important;
        opacity: unset!important;
      }
      .disabled.field{
        opacity: unset!important;
      }
      .disabled{
        width: 100%;
        margin: 0;
      }
      .copied {
        color: #fff !important;
        position: relative;
        top: 24px;
        left: -20px;
        background: #5754AB;
        border-radius: 10px;
        height: 38px;
        padding: 9px 20px;
        cursor: pointer;
        margin: 0;
      }
    }
  }



  .QR{
    div{
      width: 70%;
      padding: 30px 0;
      margin: 0 auto;
      border-radius: 20px;
      color: #000;
      background-color: #fff;
      h3{
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
    text-align: center;
    width: 40%;
    p{
      padding: 1em 4em 0 4em;

    }
  }
  h2 {
    margin-bottom: 1em;
    font-size: 40px;
  }

}

/*=======================================================
                 Withdraw
=========================================================*/
.withdraw{
  padding-top: 40px;
  .balance{
    width: 200px;
    background-color: #1D1B46;
    border-radius: 10px;
    padding: 20px 10px;
    color: #fff;
    h3{
      margin-bottom: 0;
    }
  }
  .withdrawbtn{
    padding: 15px 5em;
    border-radius: 30px;
    color: #fff;
    border: 2px solid #8F4114;
    background-color: #8F4114;
    cursor: pointer;
    margin: 3em 0;
    &:hover{
      color: $paper-color!important;
      background: #0B0A27 !important;
    }
  }
}
/*=======================================================
                 FA
=========================================================*/
.fa_container{
  padding: 10px 40px !important;
  .input,label{
    max-width: 300px !important;
  }
  label{
    text-align: left;
    margin: 0 auto!important;
  }
  button{
    font-size: 16px!important;
    padding: 0 30px!important;
  }
}