@import "colors";


.account_container{
  width: 100%;

  @include default-color();
  height: 100%;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5em 1em;
  .account_left{
    max-width: 450px;
    width: 100%;
    padding: 20px 0;
    //margin: 0 20px;
    border-right: 1px solid rgba(34,255,255,.15);
      .account_item {
        margin: 5px 0;
        padding: 15px 0;
        .icon_box {
          background-color: #292A40;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          justify-content: center;
        }
        .nav_text {
          margin-left: 20px;
          flex-direction: column !important;
          align-items: flex-start;
          h4 {
            font-size: 19px;
            margin-bottom: 2px;
          }
          span{
            font-size: 13px;
          }
        }
      }
    .items_container {
      justify-content: space-between;
      .square_container {
        flex-direction: column;
        .square {
          content: "";
          border-radius: 3px;
          border: 1px solid rgba(34,255,255,.15);
          position: relative;
          background-color: #080723;
          width: 20px;
          height: 20px;
          left: 11px;
          margin: 20px auto;
          transform: rotate(138deg)
        }
      }
    }
  }
  .account_right{
    width: 100%;
    margin-left: 5em;
    max-width: 1000px;
  }
  .brown-color{
    border:none!important;
    background-color: #8F4114!important;
  }
  .meadow-color{
    border:none!important;
    background-color: $meadow-color!important;
  }
}
/*=======================================================
                 Transaction
=========================================================*/
.transaction_result{
  text-align: center;
  padding: 10px 5px;
  min-height: 200px;
}
.transaction {
  .fullWidth {
    margin: 10px 0;
    padding: 0;
  }
  .MuiTableCell-head{
    font-weight: bold;
  }
  .spinner2{
    margin: 0 auto;
  }
}
/*=======================================================
                 Deposite
=========================================================*/
.deposite{
  padding-bottom: 20px;
  .flex{
    margin-top: 20px;
    justify-content: space-between;
    button{
      background: none;
      border: none;
      color: #04031c!important;
      cursor: pointer;
    }
    button:focus{
      outline: none;
    }
  }
  p{
    width: auto;
    margin-bottom: 0;
  }
}
.QR {
  flex-direction: column;
  p{
    margin: 10px;
    color: $background-dark;
    font-size: 14px;
  }
}
/*=======================================================
                 Withdraw
=========================================================*/
.withdraw{
  padding-top: 20px;
}
/*=======================================================
                 FA
=========================================================*/
.fa_container{
  padding: 10px 40px !important;
  .input,label{
    max-width: 300px !important;
  }
  label{
    text-align: left;
    margin: 0 auto!important;
  }
  button{
    font-size: 16px!important;
    padding: 0 30px!important;
  }
}