
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
/**
* ! only global styles
 */

@import 'colors';
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  min-height: 200px;
  width:100%;
  padding: 20px 0;
}
.fullWidth,.priceInput  div{
  width: 100%;
}
.strock:focus{
    outline: none;
  }
body{
  background-color: $background-color;
}
a {
  text-decoration: none;
  color: inherit;
}
.errorMessage {
  color: red;
  font-size: 0.75em;
  position: relative;
  top: -13px;
}
.dappslab_banner{
  background: url("../images/dappslab_banner.png");
  background-size: 100%;
  color: $paper-color;
  flex-direction: column;
  justify-content: center;
  min-height: 820px;
}
.contract_category{
  margin: 15px 0 !important;
  .button:hover{
    text-decoration: underline!important;
  }
}
.block{
  display: block;
}
.markdown{
  width: 50%;
  border: 2px solid rgba(255,255,255,.15)!important;
  background-color: #0F0E2e;
  height: 200px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  min-height: 200px;
  max-height: 200px;
  text-align: left;
}
.ui.disabled.button{
  opacity: unset!important;
}
.none{
  display:none !important;
}
.error_label {
  width: 50vh;
  margin: 0 auto;
}
.cursor{
  cursor: pointer;
}
.flex{
  display:flex;
  align-items: center;
}
.flex-row{
  flex-direction: row!important;
}
.clearBoth{
  clear: both;
}
.all-contract{
  height: 150px;
  .ui.loader{
    top: 15%!important;
  }
}

.not_found {
  text-align: center;
  font-size: 90px;
  color: #d5ebfe;
  padding-top: 100px !important;
  margin: 0!important;
  div{
    min-height: 100px;
  }
  a{
    font-size: 20px;
  }
}
.test_deploy{
  .disabled{
    opacity: unset!important;
  }
}
.upload-image {
  justify-content: space-between;
  margin-bottom: 5px !important;
  .file-upload {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    position: relative;
    display: flex;
    background-color: #5754AB;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    button {
      background: #5754AB;
      border: 2px solid #5754AB;
      border-radius: 30px;
      color: #fff !important;
      height: 100%;
      width: 100%;
    }
  }
  .file-upload input[type='file'] {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10px 20px;
    top: 0;
    left: 0;
    opacity: 0;

  }
}
.loginbtn,.not_found button,.fa_container button,.passwordChange Button ,.confirm_email Button{
  height:32px;
  margin: 0 5px !important;
  background: $default-accent !important;
  color: $primary-color !important;
  &:hover{
    color: $paper-color!important;
    background: $default-primary !important;
    Box-shadow:
            0 2px 4px -1px rgba(0,0,0,0.2),
            0px 4px 5px 0px rgba(0,0,0,0.14),
            0px 1px 10px 0px rgba(0,0,0,0.12);
  }
}
.downlaod{
  border-radius: 20px;
  border: 2px solid #0F0E2e;
  display: block;
  padding: 10px 40px;
  background: #0F0E2e;
  color: #fff;
  &:hover{
    background: #fff;
    color: #0F0E2e;
  }
}
.login-bg a,.link a,.block_result a,.deposite a,.deposite .flex .address,.password a,.register-bg a,.indexContainer .borderless a,.general_password a,.forget_password a{
  @include default-link();
}

.main-spinner{
  padding-top: 200px;
}
/*================================================
                    Dark mode
===================================================*/
*.dark-mode{
  background-color: #121212;
  color: $background-color;
}
.dark-mode body{
  background-color: $background-dark;
}
