@import "colors";

.attached_files{
  width: 70%;
  margin:  auto;
  padding-bottom: 30px;
}
.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.inputFile{
  height: 150px;
  background: #F5F7FA;
  margin: 20px 0;
  cursor: pointer;
  color: #9BA6B8;
  align-items: center;
}
.files_ready{
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
  }
  p{
    text-align: center;
    margin-top: 10px;
  }

}
.radioBox{
  flex-direction: column;
  align-items: flex-start;
}
.radioInput{
  p{
    margin-top: 0;
  }
}
