.block-explorer-container {
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%); }
  .block-explorer-container .btn-container button {
    padding: 10px 30px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer; }
    .block-explorer-container .btn-container button:focus {
      outline: none; }
  .block-explorer-container .explorer-main {
    border: 3px solid #5754AB;
    background-color: #5754AB; }
  .block-explorer-container .explorer-test {
    border: 3px solid #0FBA87;
    background-color: #0FBA87; }
  .block-explorer-container hr {
    height: 3px;
    margin-bottom: 10px;
    border: none; }
  .block-explorer-container .main {
    background-color: #5754AB; }
  .block-explorer-container .test {
    background-color: #0FBA87; }
  .block-explorer-container .main-active .dropdown {
    background-color: #5754AB; }
  .block-explorer-container .test-active .dropdown {
    background-color: #0FBA87; }

.block_explorer {
  height: auto;
  margin: auto;
  padding: 40px 20px;
  width: 90%; }
  .block_explorer .input {
    width: 50% !important; }
    .block_explorer .input .dropdown {
      align-items: center;
      display: flex; }
      .block_explorer .input .dropdown i.icon:before {
        position: relative;
        right: 0 !important; }
    .block_explorer .input .menu {
      background-color: #04031c !important; }
      .block_explorer .input .menu .item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important; }
        .block_explorer .input .menu .item .text {
          color: #fff !important; }
  .block_explorer .ui.teal.button {
    background-color: #04031c !important;
    border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.15) !important; }
    .block_explorer .ui.teal.button:hover {
      background-color: #0F0E2e !important; }
  .block_explorer .ui.fluid.input > input {
    border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
    color: #fff;
    height: 50px;
    background: #070622 !important; }
  .block_explorer .block-transaction, .block_explorer .block_explorer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-start; }
    .block_explorer .block-transaction .ui.table, .block_explorer .block_explorer .ui.table {
      border-left: 0;
      border-right: 0;
      color: #fff !important;
      background-color: #151339 !important;
      font-size: 12px !important; }
      .block_explorer .block-transaction .ui.table tr, .block_explorer .block_explorer .ui.table tr {
        font-size: 16px !important;
        border-bottom: 1px solid #fff !important;
        height: 70px !important; }
    .block_explorer .block-transaction h1, .block_explorer .block-transaction h2, .block_explorer .block_explorer h1, .block_explorer .block_explorer h2 {
      color: #0FBA87;
      font-size: 36px; }
    .block_explorer .block-transaction .recent_block, .block_explorer .block_explorer .recent_block {
      width: 30%;
      padding: 20px;
      background-color: #151339; }
      .block_explorer .block-transaction .recent_block .ui.table tr td:nth-child(2), .block_explorer .block_explorer .recent_block .ui.table tr td:nth-child(2) {
        color: #8F4114 !important; }
    .block_explorer .block-transaction .recent_transaction, .block_explorer .block_explorer .recent_transaction {
      padding: 20px;
      width: 65%;
      background-color: #151339; }
      .block_explorer .block-transaction .recent_transaction .ui.table tr td:nth-child(3), .block_explorer .block_explorer .recent_transaction .ui.table tr td:nth-child(3) {
        color: #8F4114 !important; }
      .block_explorer .block-transaction .recent_transaction h2, .block_explorer .block_explorer .recent_transaction h2 {
        color: #fff; }

.row .block_address {
  width: 250px;
  display: flex; }
  .row .block_address span {
    width: 240px !important;
    margin: 0 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; }

.ui[class*="middle aligned"].grid > .row > .column {
  flex-direction: column;
  vertical-align: middle;
  align-self: flex-start !important; }

/*# sourceMappingURL=block_explorer.css.map */
