@import "colors";
.passwordChange{
  h3{
    font-size: 35px;
    text-align: left;
    padding: 0 20px;
    justify-content: left!important;
    i.mini.icons{
      font-size: 0.23em;
    }
    i.icons .icon.key{
      font-size: 15px;
      top: 52%;
      left: 40%;
    }
  }
  p{
    padding: 0 20px;
    text-align: justify;
  }
  .errorMessage{
    justify-content: center!important;
    margin: 0!important;
  }
  .flex {
    justify-content: space-between;
    margin: 20px 0;
    .field {
      width: 70%;
      .input {
        width: 100%;
      }
    }
  }
  Button{
    padding: 10px 30px;
  }
}