@import "colors";

.confirm_email{
  padding: 0 0 20px 0!important;
  h1{
    margin: 10px 0;
    text-align: left;
    padding: 0 25px;
  }
  p{
    padding: 0 25px 25px 25px;
    text-align: justify;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    height: 90px;
    background: $default-accent !important;
    .LogoCaption {
      height: 35px;
    }
  }
  Form{
    padding: 0 20px;
  }
}