@import "colors";
.detail-container {
  width: 100%;
  padding: 30px 0;
  @include default-color();
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  color: #fff!important;
.dapps-details {
  background-color: #151339;
  width: 45%;
  margin: 0 10px;
  padding: 30px;
  border-radius: 1px;

  h2 {
    margin-bottom: 0;
  }

  span:nth-child(2) {
    color: #0FBA87;
  }

  p {
    margin: 10px 0;
  }

  h4 {
    span {
      color: #0FBA87;
    }
  }

  .dapp-category {
    margin: 10px 0;
  }
}
  .buy-dapps {
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px;
    background-color: #151339;
    width: 25%;
    .ui.form .field>label,.price_label{
      font-weight: bold;
      font-size: 16px;
      color: #0FBA87;
      text-align: left;
    }
    .ui.form .field .ui.input input[type=text],select{
      border: 1px solid rgb(87,84,171)!important;
      color: #fff;
      background: #0F0E2e!important;
      border-radius: 10px!important;
    }
    .ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input{
      border-top-left-radius:0 !important;
      border-bottom-left-radius: 0!important;
    }
    .ui.basic.label{
      background-color: #5754AB!important;
    }
    .MuiIconButton-label{
      color: #fff;
    }
    .kyc_information{
      background-color: #FFF3CD;
      margin: 20px 0 15px 0;
      color: #04031c;
      text-align: center;
      font-size: 16px;
      min-height: auto!important;
      padding: 15px;
      .testbtn{
        height: 50px;
        margin-left: 0!important;
        border-radius: 30px;
        border: 3px solid $green-color;
        background: $green-color!important;
        &:hover{
          background-color: #FFF3CD!important;
        }
      }
    }
    .ui.form{
      margin-top: 20px;
    }
    .ui.disabled.input,.ui.input input{
      opacity: unset!important;
    }
    .slider{
      margin-top: 20px;
      align-items: flex-start!important;
      justify-content: space-between;
      width: 100%;
      .semantic_ui_range_inner{
        margin: 0!important;
      }
      .fields{
        margin-right: 0!important;
        justify-content: space-between;
        width: 80%!important;
        flex-direction: column!important;
      }
      p{
        font-size: 12px;
        text-align: justify;
        color: $info-color;
        span{
          color: $green-color;
        }
      }
    }
    .buybtn{
      margin-top: 3em;
      background-color: #8F4114!important;
      min-height: 50px;
      color: #fff;
      border-radius: 30px;
      border: 3px solid #8F4114;
      &:hover{
        background-color: #151339!important;
      }
    }
  }
  .download-dapp{
    a{
      background-color: #0FBA87!important;
      border: 3px solid #0FBA87;
      &:hover{
        background-color:#151339!important ;
        color: #fff;
      }
    }
  }
}
.download-dapp{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  justify-content: space-around;
  padding: 10px 20px;
  p{
    text-align: justify;
  }

}