@import 'colors';
.indexContainer{
  .borderless{
    align-items: center;
    padding-left: 5px;
    a{
      margin-right: 5px;
    }
  }
}

//===========================================
//               Developed Contract
//===========================================
.developed_body{
  height: 130px!important;
  padding: 10px;
  .ui.loader{
    top: 71%;
  }
}
.developed{
  margin-bottom: 20px!important;
}