@import "colors";

.contractContainer{
  justify-content: center;
  align-items: flex-start;
  background: url(../images/background.jpg) ;
}
.contractLeft{
  width: 730px;
  margin: 30px 20px;
  border-radius: 10px;
  padding: 30px;
  background-color: $paper-color;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);
  .MuiAvatar-circle{
    width: 80px!important;
    height: 80px!important;
  }
  h3{
    margin-top: 5px;
  }
}
.contractRight{
  border-radius: 10px;
  width: 420px;
  background-color: $paper-color;
  margin: 30px 20px;
  padding: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);
}
.checkCircle{
  color: $green-color;
  font-size: 20px;
  margin-right: 20px;
}
.buy-top{
  border-bottom: 1px solid #1F2125;
  padding: 10px 0;
  margin-bottom: 15px;
}
.contractRight h4{
  margin: 10px 0;
}

.btnGroups {
  .testbtn {
    background: $default-accent !important;
    color: $primary-color !important;
    margin:10px 0!important;
    &:hover {
      color: $paper-color;
      background: $default-primary !important;
      Box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
  .kyc_information{
    background-color: #FFF3CD;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    min-height: auto!important;
    padding: 15px;
    .testbtn{
      margin-left: 0!important;
      background: $green-color!important;
    }
  }
}
.slider{
  width: 100%;
  align-items: flex-start!important;
  justify-content: space-between;
  .semantic_ui_range_inner{
    margin: 0!important;
  }
  .fields{
    margin-right: 0!important;
    justify-content: space-between;
    width: 80%!important;
    flex-direction: column!important;
  }
  p{
    font-size: 12px;
    text-align: justify;
    color: $info-color;
    span{
      color: $green-color;
    }
  }
}
.inputcontrol{
  padding: 10px 0;
  margin: 10px 0;
}
.priceInput{
  margin-top: -25px;
}
.priceInput .label_inputs{
  padding: 0;
  margin-top: 0;
}
.priceInput .selectSort{
  height: 45px;
}
.priceInput .block{
  padding: 12px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: $background-color;
}
.inputcontrol input[type=radio]{
  margin-top: 10px;
}
.radio_detials{
  margin-bottom: 15px;
  .ui.disabled.input,.ui.input input{
    opacity: unset!important;
  }
  label{
    font-size: 15px!important;
  }
  .ui.input input {
    opacity: 1;
  }
  .radio{
    margin-right: 10px!important;
  }
}

.test-address{
  label{
    font-weight: 700;
    font-size: 15px;
  }
  select{
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
    padding: 0 5px;
    height: 45px;
    width: 100%;
    &:focus{
      stroke: none;
    }
  }
}