.contractContainer {
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%); }
  .contractContainer .PrivateRadioButtonIcon-root-8 {
    color: #0FBA87 !important; }
  .contractContainer .ui.form .field > label, .contractContainer .price_label {
    font-weight: bold;
    font-size: 16px;
    color: #0FBA87;
    text-align: left; }
  .contractContainer p, .contractContainer h3 span, .contractContainer .ui.basic.label {
    color: #fff; }
  .contractContainer .ui.form .field .ui.input input[type=text], .contractContainer select {
    border: 1px solid #5754ab !important;
    color: #fff;
    background: #0F0E2e !important;
    border-radius: 10px !important; }
  .contractContainer .ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; }
  .contractContainer .ui.basic.label {
    background-color: #5754AB !important; }
  .contractContainer .MuiIconButton-label {
    color: #fff; }

.contractLeft {
  width: 730px;
  margin: 30px 20px;
  border-radius: 10px;
  padding: 30px; }
  .contractLeft .MuiAvatar-circle {
    width: 80px !important;
    height: 80px !important; }
  .contractLeft .fa-icon {
    margin: 20px 0; }
    .contractLeft .fa-icon i.inverted.bordered.icon {
      border-radius: 5px;
      margin-right: 10px; }
    .contractLeft .fa-icon i.inverted.bordered.icon:nth-child(1) {
      background-color: #3B5998 !important; }
    .contractLeft .fa-icon i.inverted.bordered.icon:nth-child(2) {
      background-color: #03A9F4 !important; }
    .contractLeft .fa-icon i.inverted.bordered.icon:nth-child(3) {
      background-color: #0E76A8 !important; }
  .contractLeft h2, .contractLeft h3, .contractLeft span, .contractLeft label {
    color: #fff; }
  .contractLeft label {
    font-size: 25px; }
  .contractLeft p {
    margin-top: 20px; }
  .contractLeft h3 {
    margin-top: 5px; }
  .contractLeft h2 {
    font-size: 40px;
    margin-bottom: 0; }

.contractRight {
  width: 470px;
  margin: 30px 20px;
  padding: 20px 70px 20px 20px;
  border-right: 1px solid rgba(250, 250, 250, 0.45); }
  .contractRight .test-address {
    margin-bottom: 30px; }

.checkCircle {
  color: #39B64A;
  font-size: 20px;
  margin-right: 20px; }

.buy-top {
  border-bottom: 1px solid #1F2125;
  padding: 10px 0;
  margin-bottom: 15px; }

.contractRight h4 {
  margin: 10px 0; }

.btnGroups .testbtn {
  background: linear-gradient(-90deg, #5068ff 3%, #ab37f9 97%) !important;
  color: linear-gradient(135.14deg, #29334F 0%, #1F4C55 100%) !important;
  margin: 10px 0 !important; }
  .btnGroups .testbtn:hover {
    color: #ffffff;
    background: linear-gradient(135.14deg, #29334F 0%, #1F4C55 100%) !important;
    Box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
.btnGroups .kyc_information {
  background-color: #FFF3CD;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  min-height: auto !important;
  padding: 15px; }
  .btnGroups .kyc_information .testbtn {
    margin-left: 0 !important;
    background: #39B64A !important; }

.slider {
  width: 100%;
  align-items: flex-start !important;
  justify-content: space-between; }
  .slider .semantic_ui_range_inner {
    margin: 0 !important; }
  .slider .fields {
    margin-right: 0 !important;
    justify-content: space-between;
    width: 80% !important;
    flex-direction: column !important; }
  .slider p {
    font-size: 12px;
    text-align: justify;
    color: #96A3B6; }
    .slider p span {
      color: #39B64A; }

.inputcontrol {
  padding: 10px 0;
  margin: 10px 0; }

.priceInput {
  margin-top: -25px; }

.priceInput .label_inputs {
  padding: 0;
  margin-top: 0; }

.priceInput .selectSort {
  height: 45px; }

.priceInput .block {
  padding: 12px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: #F6F7F9; }

.inputcontrol input[type=radio] {
  margin-top: 10px; }

.radio_detials {
  margin-bottom: 15px; }
  .radio_detials .ui.disabled.input, .radio_detials .ui.input input {
    opacity: unset !important; }
  .radio_detials label {
    font-size: 15px !important; }
  .radio_detials .ui.input input {
    opacity: 1; }
  .radio_detials .radio {
    margin-right: 10px !important; }

.test-address label {
  font-weight: 700;
  font-size: 15px; }
.test-address select {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  padding: 0 5px;
  height: 45px;
  width: 100%; }
  .test-address select:focus {
    stroke: none; }

.ui.segment {
  background: none; }

/*# sourceMappingURL=detailed_contract.css.map */
