@import "colors";
.edit_contract,.edit_dapp {
  min-height: 600px;
  .spinner2{
    position: absolute;
    top: 50%;
    z-index: 99;
  }
  h3{
    color: #fff;
  }
  .test-address label{
    font-weight: bold;
    font-size: 16px;
    color: #0FBA87;
  }
  .compilebtn{
    margin-top: 30px!important;
    border: 2px solid #5754AB!important;
    background: #5754AB!important;
    border-radius: 30px;
    color: #fff!important;
    &:hover{
      background: #090825!important;
      color: #fff!important;
    }
  }
  .ui.grid {
    width: 70% !important;
    margin: 0 auto;
    align-items: flex-start !important;
    color: #0F0E2e;
  }
  .dzu-dropzone{
    max-width: 386.27px!important;
    margin: 0!important;
  }
  .header.right{
    font-size: 14px;
    color: #0FBA87;
  }
  .ui[class*="middle aligned"].grid > .column:not(.row) {
    vertical-align: unset !important;
    align-self: flex-start !important;
  }

  .container textarea{
    background: none!important;
  }
  .update-btn{
    margin: 20px;
    color: #FFF;
    background: #8F4114;
    border-radius: 30px;
    border: 2px solid #8F4114;
    &:hover{
      background: #0F0E2e;
      color: #fff;
    }
  }
  input::placeholder,textarea::placeholder,.select__placeholder,.dropdown .text {
    color: #fff!important;
    opacity: 1!important;
  }

}
