@import "colors";
.result_container{
  .segment{
    padding: 16px 0!important;
  }
  margin: 10px 0!important;
  min-height: 200px;
  .block_result{
    text-align: left;
    h4{
      padding-left: 10px;
    }
    .flex{
      display: flex!important;
      padding: 14px 10px;
    }
    .content{
      width: 300px!important;
    }
  }
}
.address{

  h4{
    text-align: left;
    margin-left: 10px;
  }
}
.block_address {
  width: 250px;
  text-align: center;
  display: flex;
  a {
    @include default-link();
    width: 240px !important;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}