@import "colors";
@import "app.scss";

footer{
  background-image: url("../images/rtng6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04031C;
  //background-size:100% 438px;
  max-width: 100%;
  color: $paper-color;
  padding: 5em 0 8em 0;
  flex-direction: column;
  justify-content: center!important;
  img{
    height: 100px;
  }
  div{
    margin: 20px 0;
  }
  p{
    font-size: 23px;
  }
}


