.general_data {
  align-items: flex-start;
  justify-content: space-between; }
  .general_data .ui.form .field > label {
    font-size: 16px;
    color: #fff; }
  .general_data .ui.selection.dropdown {
    display: flex;
    align-items: center; }
  .general_data .ui.form input[type=text], .general_data .ui.form input[type=email], .general_data .ui.selection.dropdown {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    color: #fff;
    height: 50px;
    background: #070622 !important;
    border-radius: 10px !important; }
    .general_data .ui.form input[type=text] i.icon:before, .general_data .ui.form input[type=email] i.icon:before, .general_data .ui.selection.dropdown i.icon:before {
      color: #fff; }
  .general_data .general_left {
    padding-right: 20px;
    width: 50%; }
    .general_data .general_left h2 {
      font-size: 40px; }
    .general_data .general_left .update {
      cursor: pointer;
      margin-top: 2em;
      border: 3px solid #8F4114;
      background: #8F4114;
      color: #fff;
      border-radius: 30px;
      padding: 15px 40px; }
      .general_data .general_left .update:hover {
        background-color: #0F0E2e; }
  .general_data .general_right {
    width: 45%;
    padding-top: 40px; }
    .general_data .general_right .delete-btn {
      margin-top: 30px; }
      .general_data .general_right .delete-btn label {
        font-size: 22px !important;
        margin-bottom: 20px; }
      .general_data .general_right .delete-btn span {
        font-size: 14px; }
      .general_data .general_right .delete-btn div {
        justify-content: space-between !important; }
      .general_data .general_right .delete-btn button {
        margin-left: 20px;
        color: #fff;
        background: #DD2121;
        border-radius: 30px;
        padding: 15px 30px;
        cursor: pointer;
        border: 3px solid #DD2121; }
        .general_data .general_right .delete-btn button:hover {
          background-color: #0F0E2e; }
    .general_data .general_right .change {
      margin-top: 20px;
      justify-content: space-between !important; }
      .general_data .general_right .change label {
        font-weight: unset;
        font-size: 14px !important; }
    .general_data .general_right .avatar {
      margin-top: 10px;
      width: 170px;
      height: 170px; }
    .general_data .general_right .edit_btn {
      background-color: #121212;
      color: #F6F7F9;
      font-size: 12px !important;
      padding: 4px 5px;
      min-width: 50px;
      position: relative;
      top: -25px; }
      .general_data .general_right .edit_btn .MuiSvgIcon-root {
        font-size: 16px !important; }
  .general_data .profile_picture {
    justify-content: space-between;
    margin-bottom: 20px; }
  .general_data .picture_btn {
    display: flex;
    align-items: center; }
    .general_data .picture_btn .remove_picture {
      background-color: #DD2121;
      border: 2px solid #DD2121;
      cursor: pointer;
      margin-left: 20px; }
    .general_data .picture_btn .strock {
      border-radius: 30px;
      height: 35px;
      color: #fff !important;
      width: 110px; }
  .general_data .file-upload {
    border-radius: 30px;
    position: relative;
    display: flex;
    background-color: #5754AB;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .general_data .file-upload button {
      background: #5754AB;
      border: 2px solid #5754AB; }
  .general_data .file-upload input[type='file'] {
    height: 50px;
    width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; }
  .general_data .wrapper .file-upload:hover {
    color: #2590eb; }

.picture_menu {
  margin-top: 10px;
  margin-left: 17vh; }
  .picture_menu .MuiListItem-root {
    font-size: 14px !important; }
  .picture_menu .dropUpArrow {
    color: #BDBDBD;
    top: -21px;
    left: 5px;
    font-size: 35px !important; }

.MuiDialog-paperScrollPaper {
  width: 600px; }

.ReactCrop__crop-selection {
  border-image-source: none !important;
  border-radius: 50% !important; }

.canvasImage {
  border-radius: 50%;
  position: relative;
  top: -140px; }

.opacity .disabled {
  opacity: 1 !important; }
  .opacity .disabled .input {
    opacity: 1 !important; }

.finanaial {
  display: flex !important;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3C3F41;
  padding: 0 5px 0 0; }
  .finanaial .flex div {
    text-align: left; }
    .finanaial .flex div h3 {
      margin-bottom: 0; }
    .finanaial .flex div p {
      font-size: 12px; }
  .finanaial .balance {
    font-size: 20px;
    font-weight: bold; }

.ui.page.dimmer {
  background-color: unset !important; }

.change-pass-modal {
  padding: 40px; }
  .change-pass-modal .buttons {
    justify-content: flex-end; }
  .change-pass-modal .custom-button {
    font-size: 100%;
    margin: 0 0 0 10px; }

/*# sourceMappingURL=general_setting.css.map */
