@import "colors";

.generalContainer{
  background-color: $paper-color;
}
.generalDescription{
  background: #F6F9FB;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px;
  a{
    color: #299EF6;
  }
}
.generalMain{
  justify-content: center;
  padding: 20px 0;
  align-items: flex-start;
}
.generalLeft, .generalRight{
  width: 370px;
  padding: 0 20px ;
  margin: 0 15px;
}
.generalRight{
  width: 900px;
  h3{
    padding: 0 0 10px 0;
    text-align: left;
  }
  .ck-blurred{
    min-height: 200px !important;
  }
  .btnsave{
    @include default-accent();
    margin-top: 20px;
    padding: 10px 30px;
    color: $background-color!important;
  }
}

.generalLeft {
  .priceInput {
    margin-top: 0;
    .block{
      margin-top: 12px;
    }
  }
  .label_inputs{
    text-align: left;
    font-weight: bold;
    font-size: 16px ;
    margin: 0;
    padding: 0 0 10px 0;
  }
  .input_box{
    margin-bottom: 20px;
  }
  .info{
    color: $info-color;
    text-align: left;
  }
}
