@import 'colors';
header {
  @include default-color();
  background-color: $primary-color;
  width: 100%;
  height: 84px;
  padding: 16px 25px;
  justify-content: space-between;

  .MuiButton-root:hover {
    background-color: rgba(0, 0, 0, 0.24) !important;
  }

  .dapplogo {
    height: 50px;
  }

  nav {
    display: flex;
    .MuiListItem-button:hover {
      background-color: rgba(0, 0, 0, 0.24) !important;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    color: #ffffff !important;

    .nav_list::after {
      display: block;
      justify-content: center;
      content: "";
      height: 5px;
      border-radius: 50%;
      width: 5px;
      background-color: $meadow-color;
    }
  }
    .btn_group {
      margin: 0 10px!important;
      .button {
        color: $paper-color !important;
        margin: 0 !important;
        border-radius: 30px !important;
        padding: 15px 30px !important;
        background-color: $blue-color !important;
      }
      .Signup_btn{
        background-color: $meadow-color!important;
      }
    }

}

.arrowUp{
  color: $background-color;
}

.MuiPaper-root{
  width: 200px;
}
.MuiMenuItem-root ,.dropdown{
  font-size: 14px !important;
}
.MuiList-padding{
  margin-top: -40px !important;
}
.MuiPaper-root{
  margin-top: 3px;
  padding: 0 10px;
}
.user_logged{
  padding: 10px 11px;
}
.user_logged h3{
  font-size: 14px;
  margin-top: 5px;

}
.dropUpArrow, .picture_menu .dropUpArrow{
  position: relative;
  top:-83px;
  color: $background-color;
  left: 105px;
  font-size: 35px !important;
}

//================================

.small-device {
  display: none!important;
  i{
    color: #fff;
  }
}
@media only screen and (max-width: 1300px) {
  header{
    .arrowName{
      display: none!important;
    }
  }
}
@media only screen and (max-width: 1090px) {
  header {
    .small-device{
      display: inline-block!important;
      .menu {
        left: -96px!important;
        top: 30px!important;
      }
    }
    nav {
      display: none !important;
    }
    .arrowUp{
      display: none!important;
    }
  }

}