@import 'colors';
header{
  @include default-primary();
  background-color: $primary-color;
  width: 100%;
  height: 64px;
  padding: 16px 25px;
  justify-content: space-between;
}
.Logo{
  height:32px;
}
.LogoCaption{
  margin-left: 10px;
  height: inherit;
}
.logo-container{
  height:32px;
}
header nav{
  color:#ffffff;
}
.loginbtn,.ui.fluid.button {
  height:32px;
  margin: 0 5px !important;
  background: $default-accent !important;
  color: $primary-color !important;
  &:hover{
    color: $paper-color;
    background: $default-primary !important;
    Box-shadow:
            0 2px 4px -1px rgba(0,0,0,0.2),
            0px 4px 5px 0px rgba(0,0,0,0.14),
            0px 1px 10px 0px rgba(0,0,0,0.12);
  }
}

.darkbtn{
  padding-top: 5px;
  margin: 0 5px;
}
.arrowUp{
  color: $background-color;
}
.dropdown{
  left: -20px !important;
}
.MuiPaper-root{
  width: 180px;
}
.MuiMenuItem-root ,.dropdown{
  font-size: 14px !important;
}
.MuiList-padding{
  margin-top: -40px !important;
}
.MuiPaper-root{
  margin-top: 3px;
  padding: 0 10px;
}
.user_logged{
  padding: 10px 11px;
}
.user_logged h3{
  font-size: 14px;
}
.dropUpArrow, .picture_menu .dropUpArrow{
  position: relative;
  top:-73px;
  color: $background-color;
  left: 105px;
  font-size: 35px !important;
}
