.home_banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .home_banner h1 {
    font-size: 60px;
    width: 700px; }
    .home_banner h1 span:first-child {
      color: #8F4114; }
    .home_banner h1 span:last-child {
      color: #5754AB; }
  .home_banner p {
    padding: 0 10px;
    width: 700px;
    color: #5754AB;
    font-size: 20px; }

.home_blockchain {
  display: flex;
  height: 900px;
  align-items: center;
  padding: 5em 7em;
  justify-content: space-between; }
  .home_blockchain h2 {
    font-size: 50px; }
    .home_blockchain h2 span {
      color: #0fba87; }
  .home_blockchain h2::after {
    content: "";
    height: 3px;
    width: 100px;
    margin: 30px 0;
    display: block;
    background: #0FBA87; }
  .home_blockchain .b-right {
    flex-direction: column;
    width: 40%;
    align-self: center; }
    .home_blockchain .b-right p {
      width: 85%;
      color: #0f0e2e;
      font-size: 16px; }
  .home_blockchain .b-left {
    width: 40%; }
  .home_blockchain img {
    width: 100%; }

.our-contract {
  height: 900px;
  background-color: #eae9f4;
  padding: 10em 7em; }
  .our-contract .s-left {
    width: 50%;
    align-self: center;
    padding: 0 30px; }
    .our-contract .s-left h2 {
      font-size: 40px; }
      .our-contract .s-left h2 span {
        color: #5754ab; }
    .our-contract .s-left p {
      font-size: 18px; }
    .our-contract .s-left h2::after {
      content: "";
      height: 3px;
      width: 100px;
      margin: 40px 0;
      display: block;
      background: #5754ab; }
    .our-contract .s-left button {
      border-radius: 36px;
      background-color: #5754ab;
      padding: 22px 40px;
      font-size: 18px;
      cursor: pointer;
      border: 2px solid #5754ab;
      margin: 4em 0;
      color: white; }
    .our-contract .s-left button:hover {
      background: #fff;
      color: #5754ab; }
  .our-contract .s-right {
    width: 50%; }
    .our-contract .s-right img {
      width: 100%; }

.custom-contract {
  height: 908px;
  background-image: url(../images/btm-box.png);
  color: #fff;
  padding: 7em 5em; }
  .custom-contract .c-left h2 {
    font-size: 50px; }
    .custom-contract .c-left h2 span {
      color: #8f4114; }
  .custom-contract .c-left h2::after {
    content: "";
    height: 3px;
    width: 100px;
    margin: 30px 0;
    display: block;
    background: #8f4114; }
  .custom-contract .c-left p {
    font-size: 18px;
    width: 53%; }
  .custom-contract .c-left button {
    padding: 22px 40px;
    font-size: 18px;
    border: 3px solid #8F4114;
    color: white;
    background-color: #8f4114;
    margin: 50px 0 0 0;
    border-radius: 36px; }
  .custom-contract .c-left button:hover {
    background-color: #0f0e2e; }
  .custom-contract .c-right {
    width: 46%; }

.decentralized {
  height: 900px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .decentralized button {
    background-color: #0fba87;
    padding: 19px 50px;
    border-radius: 36px;
    border: 3px solid #0fba87;
    color: white;
    align-self: center;
    margin: 5em 0 0 0; }
  .decentralized button:hover {
    background: #fff;
    color: #0FBA87; }
  .decentralized p {
    width: 85%;
    font-size: 18px; }
  .decentralized h2 {
    font-size: 50px; }
    .decentralized h2 span {
      color: #0fba87; }
  .decentralized h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background: #0fba87;
    margin: 30px auto; }

/*# sourceMappingURL=home.css.map */
