@import "colors";


.intreraction-container{
  width: 100%;
  @include default-color();
  min-width: 500px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: flex-start;
  .intraction-left{
    width: 400px;
    padding:  20px 0;
    h2{
      margin: 0 20px;
    }
    .left-block {
      margin: 20px;
      label {
        color: #8F4114;
        font-size: 20px;
      }
    }
    .space{
      background-color: #060520;
      min-height: 50px;
    }
    .contract-detail{
      padding: 20px;
      h3{
        font-size: 25px;
      }
      p{
        min-height: 200px;
        max-height: 200px;
        overflow-y: auto;
      }
      .contract-img{
        height: 150px;
        width: 150px;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .interaction-dowloads{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 10px 10px 10px;
    a{
      padding: 10px 20px;
      border: 2px solid #0FBA87;
      background: #0FBA87;
      &:hover{
        color: #fff;
        background: #151339;
      }
    }
  }
  .intraction-right{
    width: 900px;
    padding: 20px;
    form {
      margin-bottom: 20px;

      select, input {
        width: 400px;
        height: 45px;
        border-radius: 7px;
        background-color: #0F0E2e;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.15);

        &:focus {
          outline: none;
        }
      }
      .input-block {
        margin: 10px 0;
      }

      h3 {
        color: #0FBA87;
      }

      label {
        display: block;
        font-size: 16px;
        color: #8F4114;
      }

      p {
        color: #0FBA87;
      }

      input {
        padding-left: 5px;
      }

      p {

      }
    }
    .execute-result{
      width: 100%;
      min-height: 100px;
      padding: 20px;
      margin-top: 10px;
      border-radius: 7px;
      background-color: #0F0E2e;
    }
  }
  .intraction-right,.intraction-left{
    color: #fff!important;
    background-color: #151339;
    margin: 0 10px;

    border-radius: 10px;
    h2{
      color: #0FBA87;
      font-size: 35px;
    }
  }
}
.Interact_button{
  border:2px solid #8F4114;
  color: #fff;
  background-color: #8F4114;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px 0 0;
  &:focus{
    outline: none;
  }
  &:hover{
    background-color: #0F0E2e;
  }
}