.intreraction-container {
  width: 100%;
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%);
  min-width: 500px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: flex-start; }
  .intreraction-container .intraction-left {
    width: 400px;
    padding: 20px 0; }
    .intreraction-container .intraction-left .left-block {
      margin: 20px; }
      .intreraction-container .intraction-left .left-block label {
        color: #8F4114;
        font-size: 20px; }
    .intreraction-container .intraction-left .space {
      background-color: #060520;
      min-height: 50px; }
    .intreraction-container .intraction-left .contract-detail {
      padding: 20px; }
      .intreraction-container .intraction-left .contract-detail h3 {
        font-size: 25px; }
      .intreraction-container .intraction-left .contract-detail p {
        min-height: 200px;
        max-height: 200px;
        overflow-y: auto; }
      .intreraction-container .intraction-left .contract-detail .contract-img {
        height: 150px;
        width: 150px; }
        .intreraction-container .intraction-left .contract-detail .contract-img img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
  .intreraction-container .intraction-right {
    width: 900px;
    padding: 20px; }
    .intreraction-container .intraction-right form {
      margin-bottom: 20px; }
      .intreraction-container .intraction-right form select, .intreraction-container .intraction-right form input {
        width: 300px;
        height: 45px;
        border-radius: 7px;
        background-color: #0F0E2e;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.15); }
        .intreraction-container .intraction-right form select:focus, .intreraction-container .intraction-right form input:focus {
          outline: none; }
      .intreraction-container .intraction-right form label {
        display: block;
        font-size: 16px;
        color: #8F4114; }
      .intreraction-container .intraction-right form p {
        color: #0FBA87; }
      .intreraction-container .intraction-right form input {
        padding-left: 5px; }
    .intreraction-container .intraction-right .execute-result {
      width: 100%;
      min-height: 100px;
      padding: 20px;
      margin-top: 10px;
      border-radius: 7px;
      background-color: #0F0E2e; }
  .intreraction-container .intraction-right, .intreraction-container .intraction-left {
    color: #fff !important;
    background-color: #151339;
    margin: 0 10px;
    border-radius: 10px; }
    .intreraction-container .intraction-right h2, .intreraction-container .intraction-left h2 {
      color: #0FBA87;
      font-size: 35px; }

.Interact_button {
  border: 2px solid #8F4114;
  color: #fff;
  background-color: #8F4114;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px 0 0; }
  .Interact_button:focus {
    outline: none; }
  .Interact_button:hover {
    background-color: #0F0E2e; }

/*# sourceMappingURL=interact.css.map */
