@import "colors";
.kyc_section{
  .ui.form input[type=text]::placeholder,.dropdown .text{
    color: #fff!important;
    opacity: 1!important;
  }
  .dropdown .item{
    background: #070622!important;
  }
  .ui.selection.dropdown{
    display: flex;
    align-items: center;
  }
  .ui.form .field>label{
    font-size: 16px;
    color: #fff;
  }
  .ui.form input[type=text],.ui.form input[type=email],.ui.form input[type=date],.ui.selection.dropdown{
    border: 1px solid rgba(255,255,255,.15)!important;
    color: #fff!important;
    height: 50px;
    background: #070622!important;
    border-radius: 10px!important;
    i.icon:before{
      color: #fff;
    }
  }
  h2{
    span{
      font-size: 14px;
    }
  }
  label{
    text-align: left!important;
  }
  .button{
    padding: 1em 5em;
    margin-top: 2em;
    border-radius: 30px;
    background: #8F4114!important;
    border: 2px solid #8F4114!important;
    &:hover{
      color: $paper-color!important;
      background: #0F0E2e !important;
    }
  }
  .dropdown{
    left:0!important;
    i.icon:before {
      position: absolute;
      right: 18px;
    }
  }
  .flex:nth-child(1){
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h2,h3{
      margin: 0;
    }
  }

  .date_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0!important;
    margin-left: 0!important;
    .field,.date-picker{
      padding: 0!important;
      width: 49.2%!important;
    }
  }
  .date-picker{

    label{
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 .28571429rem 0;
    }
    display: flex;
    flex-direction: column;
  }
}
.green{
  color: #39B64A;
}
.yellow{
  color: #FFCB6B;
}