@import "colors";

.licenses_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px !important;
    padding: 16px 25px;
    min-height: 120px;
  background-color: #191840!important;
  //i.inverted.circular.blue.icon{
  //  background-color: #0FBA87!important;
  //}
  i.icon.shopping.cart:before{
    color: #0FBA87;
  }
  i.icon.chevron.down:before,i.icon.chevron.up:before{
    color: #fff;
  }
}
.licenses {
  margin: 20px;
  justify-content: space-between;
  padding-left: 10px;
  i.inverted.circular.blue.icon{
    background-color: #0FBA87!important;
  }
  .ui.segment{
    width: 92%;
    justify-content: space-between;
    background-color: #191840!important;

    button{
        background: $default-accent !important;
        color: $primary-color !important;
        margin-right: 0!important;
        &:hover {
          color: $paper-color;
          background: $default-primary !important;
          Box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        }
    }
  }
}

//===================================================
//                     Deploy
//===================================================
.compiled{
  display: flex!important;
  align-items: center;
  margin: 0 20px!important;
  justify-content: space-between;
  background-color: #191840!important;
  img{
    height: 100px;
    width: 100px;
  }
  h3{
    margin-top: 0;
  }
}