@import "colors";

.login_wrapper {
  padding: 20px 30px;
  width: 100vh;
  text-align: center;
  background-color: $background-color;
}
.login-bg{
  background: url("../images/register-bg.jpg");
  background-size: 100% 100%;
  justify-content: center;
}
