@import "colors";

.login-bg,.register-bg {
  background: url("../images/register-bg.jpg");
  background-size: 100% 100%;
  height: auto;
  margin: 0 !important;

  Form {
    p {
      margin: 10px 0 20px 0;
      font-size: 14px;
    }

    .ui.fluid.button {
      height: 45px;
      @include default-primary();
      color: $paper-color;
      font-weight: bold;
      margin: 0 !important;
    }

    .ui.segment {
      padding: 50px !important;
    }

    .ui.input {
      font-size: 16px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border: none;
    }
  }

  .login_top {
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;

    p {
      margin: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    .login_left {
      text-align: left;
    }
  }
}

