@import "colors";

.login-bg,.register-bg {
  background: url("../images/register-bg.jpg");
  background-size: 100% 100%;
  height: auto;
  margin: 0 !important;
}
.wrapper{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  .spinner2{
    position: absolute;
  }
}
.login-wrapper {
  margin: 0 auto;
  max-width: 1462px;
  justify-content: center;
  min-height: 69vh;
  height: 750px;
  flex-flow: row-reverse;
  display: flex;
}
.top{
  margin: 0 0 110px 0;
  display: flex;
  justify-content: space-between;
}
.loginRight{
  max-width: 470px;
  background-color: white;
  width: 100%;
  padding: 0 30px;
  border-radius: 0 12px 12px 0;
}
.loginleft{
  max-width: 990px;
  width: 100%;
}
.btn {
  margin: 39px 0 0 0;
}
.logo{
  margin: 28px 0 0 0;
}
.signup{
  border-radius: 6px;
  background-color: #04031c;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
  border: 2px solid #04031c;
  color: white;
}
.signup:hover{
  background: #fff;
  color: #333;
  border: 2px solid #04031c;
}
h2{
  color: #04031c;
  font-size: 50px;
  margin: 0 0 18px 0;
}
.bar1{
  margin: 0 0 95px 0;
}
.uname {
  label{
    font-size: 18px!important;
  }
  color: #bababa;
  width: 100%;
  margin: 10px 0!important;
}
.fgtpwd{
  float: right;
  color: #bababa;
  text-transform: capitalize;
}

.login{
  margin-top: 2em;
  color: #04031c;
  font-weight: 600;
  width: 100%;
  font-size: 25px;
  padding: 13px 0;
  background: white;
  border: 3px solid #04031c;
  border-radius: 26px;
}
.login:hover{
  cursor: pointer;
  background-color: #04031c;
  color: white;
}
.loginleft{
  background-color: #04031c;
  border-radius: 12px 0 0 12px;
}
h1{
  margin: 252px 160px 55px 80px;
  color: white;
  font-size: 72px;
}
.bar2 {
  margin: 0 0 0 80px;
}
.loginleft p {
  font-size: 48px;
  color: white;
  margin: 50px 160px 51px 80px;
}
.box1{
  float: right;
  margin: -15% 0px 0px 0%;
}
.box2{
  border-radius: 0 0 0 12px;
  position: relative;
  top: 77px;
}
.content {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px){
  .loginRight{
    border-radius: 12px;
  }
  .loginleft {
    display: none;
  }
  .logo img{
    width: 66%;
  }
  .signup{
    margin: -13px;
  }
  .login{
    padding: 13px 42% 11px 42%;
  }
}
@media only screen and (max-width: 425px){
  .pwd{
    width: 87.249%;
    margin: 0 0 15px 18px;
  }
  .btm-btn{
    margin: 95px 54px 200px 18px;
  }
  .usrnm{
    margin: 0 0 70px 18px;
  }
  .logo {
    margin: 28px 0 0 18px;
  }
}