.login-bg, .register-bg {
  background: url("../images/register-bg.jpg");
  background-size: 100% 100%;
  height: auto;
  margin: 0 !important; }
  .login-bg Form p, .register-bg Form p {
    margin: 10px 0 20px 0;
    font-size: 14px; }
  .login-bg Form .ui.fluid.button, .register-bg Form .ui.fluid.button {
    height: 45px;
    background-image: linear-gradient(135.14deg, #29334F 0%, #1F4C55 100%);
    color: #ffffff;
    font-weight: bold;
    margin: 0 !important; }
  .login-bg Form .ui.segment, .register-bg Form .ui.segment {
    padding: 50px !important; }
  .login-bg Form .ui.input, .register-bg Form .ui.input {
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none; }
  .login-bg .login_top, .register-bg .login_top {
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%; }
    .login-bg .login_top p, .register-bg .login_top p {
      margin: 0; }
    .login-bg .login_top h2, .register-bg .login_top h2 {
      margin-bottom: 0; }
    .login-bg .login_top .login_left, .register-bg .login_top .login_left {
      text-align: left; }

.login-wrapper {
  margin: 0 auto;
  max-width: 1462px;
  justify-content: center;
  min-height: 69vh;
  flex-flow: row-reverse;
  display: flex; }

.top {
  margin: 0px 0px 110px 0px;
  display: flex;
  justify-content: space-between; }

.right {
  max-width: 565px;
  background-color: white;
  width: 100%;
  border-radius: 0px 12px 12px 0px; }

.left {
  max-width: 900px;
  width: 100%; }

.btn {
  margin: 39px 36px 0px 0px; }

.logo {
  margin: 28px 0px 0px 36px; }

.signup {
  font-family: 'Poppins';
  border-radius: 6px;
  background-color: #04031c;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
  border: none;
  color: white; }

h2 {
  color: #04031c;
  font-size: 50px;
  margin: 0px 0px 18px 28px; }

.bar1 {
  margin: 0px 0px 95px 35px; }

.usrnm {
  font-family: 'Poppins';
  border-style: none none solid none;
  margin: 0px 0px 54px 35px;
  padding: 14px 0px 14px 0px;
  font-size: 13.95px;
  text-transform: capitalize;
  border-color: #e1e1e1;
  color: #bababa;
  width: 87.249%; }

.pwd {
  font-family: 'Poppins';
  border-style: none none solid none;
  margin: 0px 0px 15px 35px;
  padding: 14px 0px 14px 0px;
  font-size: 13.95px;
  text-transform: capitalize;
  border-color: #e1e1e1;
  width: 87.249%;
  color: #bababa; }

.fgtpwd {
  float: right;
  margin: 0px 41px 0px 0%;
  color: #bababa;
  text-transform: capitalize; }

.eye {
  margin: 0px -26px; }

.btm-btn {
  margin: 95px 36px 200px 36px; }

.login {
  color: #04031c;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  padding: 13px 205px 11px 206px;
  background: white;
  border-style: solid;
  border-radius: 6px; }

.login:hover {
  background-color: #04031c;
  color: white; }

.left {
  background-color: #04031c;
  border-radius: 12px 0px 0px 12px; }

h1 {
  margin: 252px 160px 55px 80px;
  color: white;
  font-family: 'Poppins';
  font-size: 72px; }

.bar2 {
  margin: 0px 0px 0px 80px; }

.left p {
  font-size: 48px;
  color: white;
  margin: 50px 160px 51px 80px; }

.box1 {
  float: right;
  margin: -15% 0px 0px 0%; }

.box2 {
  border-radius: 0px 0px 0px 12px; }

.content {
  width: 90%;
  margin: 0 auto; }

@media only screen and (max-width: 1024px) {
  .right {
    border-radius: 12px; }

  .left {
    display: none; }

  .logo img {
    width: 66%; }

  .signup {
    margin: -13px; }

  .login {
    padding: 13px 42% 11px 42%; } }
@media only screen and (max-width: 425px) {
  .pwd {
    width: 87.249%;
    margin: 0px 0px 15px 18px; }

  .btm-btn {
    margin: 95px 54px 200px 18px; }

  .usrnm {
    margin: 0px 0px 70px 18px; }

  .logo {
    margin: 28px 0px 0px 18px; } }

/*# sourceMappingURL=login.css.map */
