@import "colors";

.request-contract{
  h1,h2{
    text-align: center;
  }

  .request-info{
    width: 60%;
    margin: 30px auto;
    text-align: center;
  }
  .request-form{
    width: 50%;
    margin: 0 auto 4em auto;
    textarea{
      min-height: 200px;
    }
  }
}