@import "colors";

.generalContainer{
  @include default-color();
}
.generalMain{
  justify-content: center;
  padding: 20px 0;
  align-items: flex-start;
  .info {
    margin-top: 4px;
    color: #8F4114;
  }
  .ui.basic.label{
    background-color: #5754AB!important;
    color: #fff;
  }
   .select__indicator-separator{
     background-color: rgba(255,255,255,.15)
   }
  .css-1rhbuit-multiValue:nth-child(1) {
    background-color: #0FBA87!important;
  }
  .css-1rhbuit-multiValue:nth-child(2) {
    background-color: #0F0E2e!important;
  }
  .ui.form input[type=text]:focus{
    color: #fff;
  }
  .ui.form .field .ui.input input[type=text],.tags-input,.tags-input input[type=text],.select__control{
    border: 1px solid rgba(255,255,255,.15)!important;
    color: #fff;
    background: #070622!important;
    border-radius: 10px!important;

  }
  .select__control{
    min-height: 45px;
  }
  .ui.form .field .ui.input input[type=text]{
    height: 45px;
  }
  .ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input{
    border-top-left-radius:0 !important;
    border-bottom-left-radius: 0!important;
  }
  #tags {
    .tag {
      background-color: #5754AB;
      .tag-close-icon{
        background: #F00;
        color: #FFF;
      }
    }
  }
}
.generalLeft, .generalRight{


  width: 370px;
  padding: 0 20px ;
  margin: 0 15px;
  .desc{
    color: #5754AB;
    text-align: left!important;
    margin-bottom: 20px;
    display: block;
  }
  .upload-image {
    justify-content: space-between;
    margin-bottom: 5px !important;
    .file-upload {
      width: 100px;
      height: 35px;
      border-radius: 30px;
      position: relative;
      display: flex;
      background-color: #5754AB;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      button {
        background: #5754AB;
        border: 2px solid #5754AB;
        border-radius: 30px;
        color: #fff !important;
        height: 100%;
        width: 100%;
      }
    }
    .file-upload input[type='file'] {
      height: 100%;
      width: 100%;
      position: absolute;
      padding: 10px 20px;
      top: 0;
      left: 0;
      opacity: 0;

    }
  }
}
.generalRight{
  width: 900px;
  .editor{
    max-height: 200px!important;
  }
  .container  textarea{
    background: none!important;
  }
  .ui.floated.header{
    padding: 0 0 10px 0;
  }
  .ui.floated.header.right{
    color: $green-color;
    font-size: 14px;
  }
  .ui.form{
    margin-bottom: 25px;
  }
  .btnsave{
    @include default-accent();
    padding: 10px 30px;
    color: $background-color!important;
  }

}
.info {
  color: $info-color;
  text-align: left;
}
.generalLeft {
  .label_inputs {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0 0 10px 0;
  }
  .input_box {
    margin-bottom: 20px;
  }


  .ui.form .field{
    margin-bottom: 20px;
  }
  .ui.form .field>label,.price_label{
    font-weight: bold;
    font-size: 16px;
    color: #0FBA87;
    text-align: left;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #fff;
  font-size: 100px;
}
.arrowIcon{
  font-size: 40px;
}
.wrapper .file-upload input[type='file'] {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #2590eb;
  border: 1px solid #3C3F41;
}
//================================================
//         associated files
//===============================================
.attached_files{
  padding: 30px 0;
  label{
    font-weight: bold!important;
    font-size: 16px!important;
    text-align: left;
  }
  .info{
    margin-top: 0;
    position: relative;
    top: -9px;
  }
}

.dzu-dropzone{
  background: $paper-color;
  min-height: 200px!important;
}
.dropzone {
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;

  margin-left: auto;
  margin-right: auto;
}
.inputFile{
  height: 150px;
  margin: 20px 0;
  cursor: pointer;
  color: #9BA6B8;
  align-items: center;
}
.files_ready{
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
  }
  p{
    text-align: center;
    margin-top: 10px;
  }

}
.radioBox{
  flex-direction: column;
  align-items: flex-start;
}
.radioInput{
  p{
    margin-top: 0;
  }
}
//===============================================
//            tags
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 45px;
  width: 100%;
  padding: 0;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  &:focus-within {
    border: 1px solid #0052cc;
  }
  input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
    &:focus {
      outline: transparent;
    }
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
  .tag-title {
    margin-top: 3px;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}


//================================================
//         Editor
//===============================================
.editor{
  min-height: 200px;
}