.generalContainer {
  background-image: linear-gradient(135.14deg, #04031D 0%, #0F0E2e 100%); }
  .generalContainer .ui.basic.label {
    background-color: #5754AB !important;
    color: #fff; }
  .generalContainer .header.left {
    color: #fff !important; }
  .generalContainer .ui.form .field > label, .generalContainer .price_label {
    font-weight: bold;
    font-size: 16px;
    color: #0FBA87;
    text-align: left; }
  .generalContainer .ui.floated.header.right {
    color: #39B64A;
    font-size: 14px; }
  .generalContainer .select__indicator-separator {
    background-color: rgba(255, 255, 255, 0.15); }
  .generalContainer .css-1rhbuit-multiValue:nth-child(1) {
    background-color: #0FBA87 !important; }
  .generalContainer .css-1rhbuit-multiValue:nth-child(2) {
    background-color: #0F0E2e !important; }
  .generalContainer h1 {
    font-size: 50px;
    margin-bottom: 0;
    color: #fff;
    text-align: left; }
  .generalContainer .ui.form input[type=text]:focus {
    color: #fff; }
  .generalContainer .ui.form .field .ui.input input[type=text], .generalContainer .test-address select, .generalContainer select, .generalContainer .ui.form textarea, .generalContainer .tags-input, .generalContainer .tags-input input[type=text], .generalContainer .select__control {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    color: #fff;
    background: #0F0E2e !important;
    border-radius: 10px !important; }
  .generalContainer .longDesc textarea {
    max-width: 50%; }
  .generalContainer .select__control, .generalContainer .test-address select {
    min-height: 45px; }
  .generalContainer .ui.form .field .ui.input input[type=text] {
    height: 45px; }
  .generalContainer .tags-input {
    min-height: 47px; }
  .generalContainer .ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; }
  .generalContainer .label_inputs {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0 0 10px 0; }
  .generalContainer .input_box {
    margin-bottom: 20px; }
  .generalContainer #tags .tag {
    background-color: #5754AB; }
    .generalContainer #tags .tag .tag-close-icon {
      background: #F00;
      color: #FFF; }
  .generalContainer .info {
    margin-top: 4px;
    color: #8F4114; }
  .generalContainer .desc {
    color: #5754AB;
    text-align: left !important;
    margin-bottom: 20px;
    display: block; }
  .generalContainer .publishbtn {
    background: #8F4114 !important;
    padding: 15px 40px;
    border-radius: 30px;
    border: 2px solid #8F4114;
    color: #fff !important;
    margin: 20px; }
    .generalContainer .publishbtn:hover {
      background: #0F0E2e !important; }
  .generalContainer .guiding {
    display: flex;
    margin: 3em 0; }
    .generalContainer .guiding a {
      background: #8F4114 !important;
      padding: 15px 20px;
      border-radius: 30px;
      border: 2px solid #8F4114;
      color: #fff !important;
      cursor: pointer; }

.generalMain {
  justify-content: center;
  padding: 20px 0;
  align-items: flex-start; }

.generalLeft, .generalRight {
  width: 370px;
  padding: 0 20px;
  margin: 0 15px; }

.generalRight {
  width: 900px; }
  .generalRight .ui.form textarea, .generalRight select {
    border: 1px solid rgba(255, 255, 255, 0.15) !important; }
  .generalRight .editor {
    max-height: 200px !important;
    background: #0F0E2e !important;
    color: #fff !important; }
  .generalRight .ui.floated.header {
    padding-bottom: 20px; }
  .generalRight .ui.form {
    margin-bottom: 25px; }
  .generalRight .btnsave {
    background-image: linear-gradient(-90deg, #5068ff 3%, #ab37f9 97%);
    padding: 10px 30px;
    color: #F6F7F9 !important; }

.info {
  color: #96A3B6;
  text-align: left; }

.generalLeft .ui.form .field {
  margin-bottom: 20px; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper .file-upload {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #fff;
  font-size: 100px; }

.arrowIcon {
  font-size: 40px; }

.wrapper .file-upload input[type='file'] {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer; }

.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #2590eb;
  border: 1px solid #3C3F41; }

.attached_files {
  padding: 30px 0; }
  .attached_files .ui.form .field > label {
    color: #fff; }
  .attached_files label {
    font-weight: bold !important;
    font-size: 16px !important;
    text-align: left; }
  .attached_files .info {
    margin-top: 0;
    position: relative;
    top: -9px; }

.dzu-dropzone {
  margin: 20px 0 !important;
  background: #ffffff;
  padding: 0 0 0 20px;
  min-height: 47px !important;
  border-radius: 10px !important;
  flex-direction: row !important;
  overflow: unset !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  background: #0F0E2e;
  color: #fff; }
  .dzu-dropzone .dzu-previewContainer {
    border: none;
    min-height: 50px;
    padding: 0 !important; }
    .dzu-dropzone .dzu-previewContainer .dzu-previewFileName, .dzu-dropzone .dzu-previewContainer .dzu-previewStatusContainer {
      color: #fff !important; }
      .dzu-dropzone .dzu-previewContainer .dzu-previewFileName .dzu-previewButton, .dzu-dropzone .dzu-previewContainer .dzu-previewStatusContainer .dzu-previewButton {
        margin: 0; }
    .dzu-dropzone .dzu-previewContainer .dzu-previewStatusContainer {
      height: 14px;
      width: 14px; }
  .dzu-dropzone .dzu-submitButtonContainer {
    height: 50px;
    margin: 0 0 0 20px; }
    .dzu-dropzone .dzu-submitButtonContainer button {
      background: #5754AB !important;
      height: 100%;
      padding: 0 30px; }
      .dzu-dropzone .dzu-submitButtonContainer button:focus {
        outline: none; }

.dropzone {
  border-radius: 5px;
  border: 2px dashed #0087f7;
  border-image: none;
  margin-left: auto;
  margin-right: auto; }

.inputFile {
  height: 150px;
  margin: 20px 0;
  cursor: pointer;
  color: #9BA6B8;
  align-items: center; }

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 45px;
  width: 100%;
  padding: 0;
  border: 1px solid #d6d8da;
  border-radius: 6px; }
  .tags-input:focus-within {
    border: 1px solid #0052cc; }
  .tags-input input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0; }
    .tags-input input:focus {
      outline: transparent; }

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc; }
  .tag .tag-title {
    margin-top: 3px; }
  .tag .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer; }

.editor {
  min-height: 200px; }

.select__menu, .css-2613qy-menu {
  z-index: 99 !important; }

/*# sourceMappingURL=upload_smart_contract.css.map */
