.custom-button {
  min-width: 165px;
  width: auto;
  height: 55px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 25px;
  background: white;
  color: #04031c;
  text-transform: uppercase;
  font-weight: bolder;
  border: 3px solid #04031c;
  cursor: pointer;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus{
    outline: none;
  }
  &:hover {
    color: white;
    background-color: #04031c;
    border: 3px solid #04031c;
  }
  &.login{
    margin-top: 2.5em;
    width: 100%;
  }
  &.change-password{
    background-color: #0FBA87;
    border: 3px solid #0FBA87;
    color: #fff;
    font-size: 14px;
    height: 50px;
    &:hover{
      background-color: #0F0E2e;
    }
  }
  &.cancel{
    background-color: #ff0000;
    border: 2px solid #ff0000;
    color: #fff;
    &:hover{
      background-color: #fff;
      color: #04031c;
    }
  }
}
