/**
* ! only global styles
 */
*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.flex{
    display:flex;
    align-items: center;
}
*.dark-mode{
    background-color: #121212;
    color: white;
}
/*================================================
                    smart contract
===================================================*/
